<!-- <p>workout-progress works!</p> -->
<!-- workout-list.component.html -->
<!-- workout-progress.component.html -->
<div class="flex flex-col items-center justify-center w-full h-screen p-4 bg-gray-800 mt-10 mb-10">
  <h2 class="text-2xl md:text-3xl font-bold text-orange-500 mb-2">{{ userName }}'s Workout Progress</h2>
  <div class="flex items-center justify-center w-full flex-1">
    <div class="w-full max-w-4xl h-80 md:h-96 lg:h-[32rem] bg-gray-900 shadow-lg rounded-lg p-4">
      <canvas id="MyChart" class="w-full h-full"></canvas>
    </div>
  </div>
</div>


